@model NetCore_Mentoring.BLL.Models.Product
@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<form method="put" action="/Products/{@Model.ProductId}">
    <input type="submit" value="Edit" />
</form>