@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about:</p>
    <p><a asp-area="" asp-controller="Categories" asp-action="Index">our categories</a>.</p>
    <p><a asp-area="" asp-controller="Products" asp-action="Index">our products</a>.</p>
    <p><a asp-area="" asp-controller="Home" asp-action="Error">Errors</a>.</p>
</div>
