@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about:</p>
    <p><a href="https://localhost:5001/Home/categories">our categories</a>.</p>
    <p><a href="https://localhost:5001/Products">our products</a>.</p>
</div>
