@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<p>Our products.</p>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Supplier</th>
        <th>Price</th>
    </tr>
</table>
